# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Media files
/media/

# Static files
/static/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Dependency directories
node_modules/
venv/
